// Available sass variables from Bootstrap
// $body-bg	The page background color.
// $body-color	The page text color.
// $link-color	The link color.
// $input-bg	The background color for HTML inputs.
// $popover-bg	The background color for popovers (for example, when a citation preview is shown).

// $font-family-sans-serif	The sans-serif font family for the page.
// $font-family-monospace	The monospace font family for the page.
// $font-size-root	The base font size for the page.
// $toc-font-size	The font size for the page TOC.
// $h1-font-size Font sizes for the specified headings.
// $h2-font-size
// $h3-font-size
// $h4-font-size
// $h5-font-size

/*-- scss:defaults --*/
$presentation-font-size-root: 11pt;
$bs-root-font-size: 16px;
$pale-color: #5a6570;

/*-- scss:rules --*/
// Sets the page to full screen
.page-columns main.content {
  grid-column: screen-start-inset / screen-end-inset;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 2em auto auto auto;
  grid-column-gap: 2ch;
  align-items: start;
  min-height: 90vh;
  padding-bottom: 5vh;
  border-bottom: 2px;
  margin-top: 0;
  margin-bottom: 5vh;
}
    
h3  {
  grid-column: 1 / 2;
  grid-row-start: 1;
  margin-top: 0;
}

.map {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  position: sticky;
  top: 0;
  height: 100vh;

  img, .leaflet.html-widget {
    height: 100vh !important;
  }
}

#title-block-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.text-column {
  grid-column: 1 / 2;
  grid-row: 3 / 5;

  ul {
    font-size: 1.2em;
  }

  p {font-size: 1rem;}

  div.footnote {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: end;

    p {
     font-size: 0.8rem;
      color:  var($pale-color)
    }
  }
}